<h2>Update Profile</h2>

<%= form_for @user, url: '/profile' do |f| %>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="first_name">First Name</label>
          <%= f.text_field :first_name, class: 'active' %>
        </div>
        <div class="input-field col s6">
          <label for="last_name">Last Name</label>          
          <%= f.text_field :last_name, class: 'active' %>
        </div>
      </div
      <div class="row">
        <button type="submit" class="btn right">Save</button>
      </div>
    </form>
  </div>
<% end %>
